<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="trusted" connectionString="Server=APAVLOV\SQLEXPRESS;Database=rss-manager;Trusted_Connection=True;" />
    <add name="secured" connectionString="Server=APAVLOV\SQLEXPRESS;Database=rss-manager;User Id=myUsername;Password=myPassword;" />
  </connectionStrings>
  <appSettings>
    <add key="ActiveConnectionString" value="trusted" />
  </appSettings>
</configuration>