<md-dialog aria-label="dialogForm" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{args.dialogHeader}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="Images/Icons/Material/close-button.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content>
            <form style="width:300px;" name="dialogForm">
                <div style="padding:0px 20px;">
                    <md-input-container class="md-block">
                        <label style="max-width:250px;">Current Password</label>
                        <input required name="CurrentPassword" ng-model="args.pwd.CurrentPassword" type="password">
                        <div ng-messages="dialogForm.CurrentPassword.$error" >
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label style="max-width:250px;">New Password</label>
                        <input required name="NewPassword" ng-model="args.pwd.NewPassword" type="password">
                        <div ng-messages="dialogForm.NewPassword.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>   
                    <md-input-container class="md-block">
                        <label style="max-width:250px;">Repeat New Password</label>
                        <input required match name="RepeatNewPassword" ng-model="args.pwd.RepeatNewPassword" ng-match="args.pwd.NewPassword" type="password">
                        <div ng-messages="dialogForm.RepeatNewPassword.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="match">Mismatch.</div>
                        </div>
                    </md-input-container>     
                </div>
            </form>
            <rss-captcha x="" invalid="args.isCaptchaInvalid"></rss-captcha>
        </md-content>   
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="answer(args.pwd)" ng-disabled="args.isCaptchaInvalid || dialogForm.$invalid">OK</md-button>
        <md-button ng-click="answer('cancel')" style="margin-right:20px;">CANCEL</md-button>
    </md-dialog-actions>
</md-dialog>